<p id="notice"><%= notice %></p>

<%= link_to 'About', root_path %>
<%= link_to 'Races', races_url %>
<%= link_to 'Subraces', subraces_url %>
<%= link_to 'Traits', traits_url %>
<%= link_to 'Languages', languages_url %>

<p>
  <strong>Name:</strong>
  <%= @trait.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @trait.desc %>
</p>

<%= link_to 'Back', traits_path %>
