<%= form_with(model: race) do |form| %>
  <% if race.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(race.errors.count, "error") %> prohibited this race from being saved:</h2>

      <ul>
        <% race.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :index %>
    <%= form.text_field :index %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :speed %>
    <%= form.number_field :speed %>
  </div>

  <div class="field">
    <%= form.label :alignment %>
    <%= form.text_field :alignment %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :size_desc %>
    <%= form.text_field :size_desc %>
  </div>

  <div class="field">
    <%= form.label :language_desc %>
    <%= form.text_field :language_desc %>
  </div>

  <div class="field">
    <%= form.label :subraces %>
    <%= form.text_field :subraces %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
