<p id="notice"><%= notice %></p>

<%= link_to 'About', root_path %>
<%= link_to 'Races', races_url %>
<%= link_to 'Subraces', subraces_url %>
<%= link_to 'Traits', traits_url %>
<%= link_to 'Languages', languages_url %>

<p>
  <strong>Name:</strong>
  <%= @race.name %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @race.speed %>
</p>

<p>
  <strong>Alignment:</strong>
  <%= @race.alignment %>
</p>

<p>
  <strong>Age:</strong>
  <%= @race.age %>
</p>

<p>
  <strong>Size:</strong>
  <%= @race.size %>
</p>

<p>
  <strong>Size desc:</strong>
  <%= @race.size_desc %>
</p>

<p>
  <strong>Language desc:</strong>
  <%= @race.language_desc %>
</p>

<%= link_to 'Back', races_path %>
