<p id="notice"><%= notice %></p>

<%= link_to 'About', root_path %>
<%= link_to 'Races', races_url %>
<%= link_to 'Subraces', subraces_url %>
<%= link_to 'Traits', traits_url %>
<%= link_to 'Languages', languages_url %>

<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @language.lang_type %>
</p>

<p>
  <strong>Typical speakers:</strong>
  <%= @language.typical_speakers %>
</p>

<p>
  <strong>Script:</strong>
  <%= @language.script %>
</p>

<%= link_to 'Back', languages_path %>
