<p><%= link_to 'Home', root_path %></p>

<%= link_to 'About', root_path %>
<%= link_to 'Races', races_url %>
<%= link_to 'Subraces', subraces_url %>
<%= link_to 'Traits', traits_url %>
<%= link_to 'Languages', languages_url %>

<p>
  <strong>Name:</strong>
  <%= @subrace.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @subrace.race %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @subrace.desc %>
</p>

<%= link_to 'Back', subraces_path %>
