<%= link_to 'About', root_path %>
<%= link_to 'Races', races_url %>
<%= link_to 'Subraces', subraces_url %>
<%= link_to 'Traits', traits_url %>
<%= link_to 'Languages', languages_url %>

<h1>About</h1>



<h3>This Rails site is a project for WEBD-2007-Full Stack-2021WI.</h3>
<h3>This project allows users to look at features and rules for D&D 5e.</h3>
<h3>Currently there are 4 pages for users to look at.</h3>
<p><a href="/races">Races</a></p>
<p><a href="/subraces">Subraces</a></p>
<p><a href="/traits">Traits</a></p>
<p><a href="/languages">Languages</a></p>

